/*reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
 u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Main style*/
body {
	background-color:#d8e8f5;
	color:#303030;
	font-family:Helvetica, Arial, sans-serif;
	font-size: 14px;
}
a 	{color: #3e75b9;text-decoration: none;}
a:hover {color: #416695;}

h1 	{font-size: 32px;}
h2 	{font-size: 28px;}
h3 	{font-size: 26px;}
h4 	{font-size: 21px;color: #225bda;}
h5 	{font-size: 18px;}
h6 	{font-size: 16px;}

p {line-height:16px;}
hr {color:#d8e8f5}

.form-control{
    width: 400px;
    padding: 10px 7px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.btn_loginn {
    width: 100px;
    background-color: #eb8215;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn_loginn:hover {
    background-color: #b0610e;
}

.search-input{
    width: 70%;
    padding: 5px 5px;
    margin: 3px 2px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.select-input {
    width: 200px;
    margin: 2px;
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
 .sfondo_login{
     margin-left: 300px;
 }
 .div-form-login{
     background-color: white;
     width: 500px;
     padding: 10px;
     border-radius: 7px;
     box-shadow: 10px 10px 5px #5895dc;

 }
figure {margin-bottom:0px;}
p, hr, h1, h2, h3, h5, h6, ol, ul{margin-bottom: 20px;}

/*** Header ***/
header 	{width: 920px;float:left;padding:20px;background:#fff;}

/*nav*/
nav		{width: 100%;float:left;background: #197dd1;}
nav ul 		{margin: 0px;float:left;width:100%; list-style: none;overflow:hidden;padding:10px;text-align:center;}
nav ul li 	{float: left;margin: 0px;position: relative;}
nav a 		{color: #fff; display: block;font-size:0.9em;padding: 14px 20px;text-transform:uppercase;}
nav a:hover {background:#d8e8f5;}

.documentazione{
  height: 35px;
  padding: 0px;
}


/*start breadcrumb CSS */
/* Style the list */
ul.breadcrumb {
    float: left;
    width: 100%;
    padding: 10px 0px;
    list-style: none;
    background-color: #eee;
    margin-bottom: 0px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 14px;
    padding:0px 0px 0px 10px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/ \00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* end of breadcrumb CSS*/
.btn_nav{
	float: right;
	padding: 8px;
}
.nav_form{
	float: left;
	padding: 5px;
}
.header_css{
	height: 75px;
	background-color: rgb(36, 88, 176);
}
.logo{
	float: left;
	padding: 5px;
}
.lgn_btn {
  background-color: #eb8215;
  color: white;
  text-align: center;
  text-decoration: none;
    border-radius: 4px;
}
.lgn_btn:hover {background-color: #b0610e}

/* STRUTTURA */
#wrapper 	{width: 960px;margin:0 auto;background:#fff;}
#container	{width: 920px;float:left;padding:0px;}
#content	{width: 620px;float:left;}
legend {padding:5px 0px;}

/* BARRA LATERALE */
aside		{width: 270px;float:right;}
.widget li 	{line-height:35px;list-style-type:none}

.clear 	    {clear:both;}
.img	    {width:100%;height:auto;margin-bottom:0px;}
#sitemap    {padding-left:10px;}

footer {width:920px;float:left;padding:20px;background:#676767;color:#fff;}
footer a 	{font:14px;color:#fff; line-height:30px;}
footer a:hover 	{color:#d8e8f5;}
footer p 	{padding-left:10px;}

fieldset{margin-bottom: 10px;}

/* SEZIONE NUOVI CONCERTI E PIU' RICHIESTI */
.home2 {padding-top: 20px; float:left; padding-left: 10px;}

.home_circles {
  width: 1070px;
  padding: 20px;
  margin: 0px 20px 20px 20px;
  float: left;
  background-color: #eee;
}
.round_home {
  float: left;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: 5px 29px;
    object-fit: cover;
}

/* LISTA CATALOGO ELEMENTI */
.testo_prodotto{float: left; padding:15px 0px 0px 20px;}
.bottone_dettagli{float: right; padding:30px 20px 0px 0px; }
#elemento_lista{
	float: left;width: 100%;
	padding: 10px 0px;
	list-style: none;
	background-color: #eee;
	margin-top: 10px;
}
#contenuto_catalogo {
  margin-right: -10px;
  height: 780px;
}

/* FILTRI CATALOGO */
.catalog{margin-top: 0px; height: 780px;}
.form_btn {
  text-align: center;
    width: 100px;
    padding: 5px;
    background-color: #eb8215;
    color: white;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form_btn:hover {background-color: #b0610e;}

/* LISTA FAQ DOMANDE */
.testo_domanda{float: left;	padding: 5px 20px;}
.testo_domanda h5 {margin-bottom: 0px;}

#info h3 {color: #225bda;}

#faq{margin-left: 20px; margin-bottom: 10px;}

#domanda{
	padding: 10px 0px;
	list-style: none;
	background-color: #eee;
	margin-bottom: 5px;
	float: left;
  margin-left: 19px;
  width: 100%;
}

/* CONTATTI */
.mappa {float: right; margin: 10px 0px;}
.presentazione {float: left; width: 600px;}
.presentazione h1 {color: #225bda;}
.presentazione h3 {color: #225bda;}

/*SCHEDA PRODOTTO*/
.titolo_scheda h1 {color: #225bda;}

.bottone_prodotto{float: left; margin-left: 50px;}
.bottone_prodotto .lgn_btn {background-color: #225bda; width: 300px; margin-top: 10px;}
.bottone_prodotto .lgn_btn:hover {background: rgb(65, 159, 246)}

.info_acquista {width: 100%;}

.info_prodotto{
  padding: 10px 0px;
  background-color: #eb8215;
  float: left;
  height: auto;
  width: 600px;
  margin-bottom: 25px;
}
.info_prodotto h5 {float: left; padding: 0px 20px; margin-bottom: 0px; color: white;}
.info_prodotto h6 {float: right; padding: 10px 20px; margin-bottom: 0px; font-size: 30px; color: white;}
.immagine_prodotto{float: left;	padding: 5px 5px 5px 20px;	height: 200px; width: 200px; object-fit: cover}

.descrizione_prodotto{
  padding: 5px 0px;
  background-color: #eee;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.descrizione_prodotto h3 {padding: 10px 20px; margin-bottom: 10px;}
.descrizione_prodotto h4 {padding: 0px 20px; margin-bottom: 5px;}
.descrizione_prodotto h6 {padding: 0px 20px;}
.descrizione_prodotto ol {margin-left: 20px;}



.presentazione {margin-top: 0px; }
.presentazione h5 {
    float: left;
    margin-top: 25px;
    margin-left: 30px;}

/*AREA PERSONALE*/
.dati_personali{
    padding: 10px 20px;
    background-color: #eee;
    float: left;
    height: auto;
    width: 100%;
    margin-top: 10px;
}
.dati_personali h3 {color: #225bda;}

.btn_dati{
    float: right;
    padding: 8px;
    margin-top: -50px;
}


/* PAGINAZIONE */

#pagination {
  float: right;
  margin: 27px 0px;
}

#pagination .arrow {
  border-radius: 0%;
  padding: 10px;
  width: 20px;
  background-color: #eee;
}

#pagination .arrow:hover {
  background-color: #225bda;
  color: white;
}

#pagination .page_number {
  border-radius: 0%;
  padding: 10px;
  width: 20px;
  background-color: #eb8215;
  color: white;
}

#pagination a {
  margin: 0px 5px;
  color: black;
}

/*AREA ORGANIZZATORI*/
.options{
float: right;
padding: 5px;
margin-top: 2px;
margin-right: 7px;
}
.options a+a:before {
color: black;
content: "\00a0 | \00a0";
}
.eventi_organizzati #elemento_lista {margin-left: -10px;}
.eventi_organizzati .riquadro_concerto .options {margin-top: 40px;}
/*LOGIN E REGISTRAZIONE*/
.card-header{margin: 25px 0px 0px 40px;}
.card-body{margin: 25px 0px 0px 25px;}
.form-group{margin: 25px}
.nav-link{margin-left: 20px;}
.col-md-6{margin-top: 10px;}
.btn {
  background-color: #eb8215;
  color: white;
  text-align: center;
  text-decoration: none;
}
.btn:hover {background-color: #b0610e}


/*ADMIN*/
.bottone_admin .bottone_prodotto {margin-left: 0px; margin-top: -20px; float: right;}
.header_org h3 {color: #225bda; height: 0px; margin-bottom: 0px; padding-top: 20px;}


.nome_utenti h5{margin: 10px 0px 0px 20px;}
.options{float:right;}
.options h5{margin: 30px 0px 0px 0px;}
.options a {color: #cc0000;}

.mod_title{margin: 25px 0px 0px 25px;}
.modifica{margin: 25px 0px 0px 25px;}

#mod_dati{
    width: 400px;
}
.form_style{
    width: 400px;
}

.src_btn{
  background-color: #eb8215;
  color: white;
  text-align: center;
  text-decoration: none;
}
.src_btn:hover {background-color: #b0610e}

.form_dati {
  width: 100%;
  float:left;
  background: #87bdfb;
  padding: 20px;
}
.form_dati h3 {color: #225bda;}
.form_dati h6 {margin-bottom: 1px;}

.menu_admin .menu a {
    background-color: #eb8215;
    border-radius: 4px;
    width: 170px;
    color: white;
    border: 2px;
    margin: 5px;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;}

.menu_admin .menu a:hover {border: 2px solid #225bda; margin-bottom: 1px}
.menu_admin .menu h6 {margin-bottom: 0px;}


.page {
  float: left;
  width: 850px;
  margin: 0px -50px 10px 20px;
}
.page h5{margin-bottom: 0px; margin-left: 10px;}

.optionsUp{
  float:right;
  width: 100px;
  margin-top: 7px;
}
.optionsUp h5{margin: 0px 20px 0px 0px;}
.optionsUp a {color: #cc0000;}

.faqAdmin {
  width: 85%;
}
/* FORM FEEDBACK */
.invalid-feedback {
    margin-left: 20px;
    color: #c10000;
}


header 		{width:1130px;float:left;padding:20px;}
nav		{width:100%;float:left;display:block;}
aside		{width:260px;float:right;}
.catalog {float:left; background-color:rgba(32, 144, 247, 0.59);padding: 10px;}
footer		{width:1130px;float:left;padding:20px;}
#wrapper 	{width:1170px;margin:0 auto;}
#container	{width:1130px;float:left; margin: 10px 0px 0px 20px}
#container2	{width:1130px;float:left;}
#content        {width:830px;float:left;}
#contenuto_catalogo {width:830px;float:right;}
.lgn_btn {border: none; padding: 15px 40px; display: inline-block; font-size: 16px;}
.logo{height: 70px; margin-top: 0px;}
